@import "schriftarten.css"
@import "farben.sass"

// Typographie
$bold: 'Heebo Bold', serif
$paragraph: 'Heebo', sans-serif
$light: 'Heebo Light', sans-serif

// FONT-SIZE
$caption: 12px
$regular: 16px
$big: 18px
$h-small: 24px
$h-big: 32px
$h-hero: 64px

// KERNING
$kern-wide: 2.3px
$kern-normal: 1.3px
$kern-narrow: 1.12px

//STYLES

h1
  font-family: $bold
  letter-spacing: $kern-wide
  font-size: $h-hero
  padding-bottom: 16px

h2,h3,h4
  font-family: $bold
  letter-spacing: $kern-normal
  text-transform: uppercase
  font-size: $h-small
  margin: 0
  -webkit-margin-before: 0
  -webkit-margin-after: 0
  -webkit-margin-start: 0
  -webkit-margin-end: 0
  padding-bottom: 16px

h5,h6
  font-family: $bold
  letter-spacing: $kern-normal
  font-size: $regular
  margin: 0
  -webkit-margin-before: 0
  -webkit-margin-after: 0
  -webkit-margin-start: 0
  -webkit-margin-end: 0
  padding-bottom: 16px


ul,li,p
  font-family: $paragraph
  font-size: $regular
  margin: 0
  -webkit-margin-before: 0
  -webkit-margin-after: 0
  -webkit-margin-start: 0
  -webkit-margin-end: 0
  padding-bottom: 4px

a
  font-family: $bold
  font-size: $regular
  text-decoration: underline
  margin: 0
  -webkit-margin-before: 0
  -webkit-margin-after: 0
  -webkit-margin-start: 0
  -webkit-margin-end: 0
  padding-bottom: 8px

  &:hover
    background-color: $focus

hr
  border: 1px solid

button
  font-family: $bold !important
  font-size: $h-big
  letter-spacing: $kern-wide
  border: none
  padding: 24px
  color: $primary-color
  background-color: $secondary-color
  box-shadow: none
  border-radius: 6px
  text-transform: uppercase

button.invert
    color: $secondary-color
    background-color: $primary-color

.UeberschriftTrennung
  text-align: center
  margin-top: 20px
